# Generic Aliases
alias ga='git add' 
alias gcm='git commit -m'
alias gc='git commit'
alias gce='git commit -m "empty commit" --allow-empty'
alias gcep='git pull && git commit -m "empty commit" --allow-empty && git push'
alias home='cd ~'
alias ll='ls -la'
alias rm_docker="docker ps -aq --no-trunc -f status=exited | xargs docker rm"
alias clean_docker="docker system prune --all --volumes"
alias dcu='docker-compose up'
alias dcd='docker-compose down'
alias docker-prune-all='docker system prune --all --volumes'
alias rebase='main && git rebase -i origin/main'
alias cc='conventional_commits.sh'
alias docker_nuke='docker_nuke.sh'
alias main='git checkout main && git pull'
alias zshrc='nvim .zshrc'
